.col-md-12

  %ol.breadcrumb
    %li.active= 'Dashboard'

  .col-md-6
    - @organizations.each do |org|
      %a{href: organization_path( org.login )}
        .org.col-md-4
          .panel.panel-default
            .panel-heading
              .pull-left
                %span.octicon.octicon-organization
                = org.login
              .pull-right
                .info
                  %span.octicon.octicon-repo
                  = org.repositories.count
                .info
                  %span.octicon.octicon-person
                  = org.members.count
              .clearfix
            .panel-body
              = image_tag( org.avatar_url, size: '50' )
              = org.description


              -# .dashboard_orgInfo
              -#   %div
              -#   %div
              -#     %span
  .col-md-6
    -# #container(style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto")