.row
  .col-md-8
    - @organizations.each do |org|
      %a{href: organization_path( org.login )}
        .org
          .panel.panel-default
            .panel-heading
              .pull-left
                %span.octicon.octicon-organization
                = org.login
              .pull-right
                .info
                  %span.octicon.octicon-repo
                  = org.repositories.count
                .info
                  %span.octicon.octicon-person
                  = org.members.count
              .clearfix
            .panel-body
              = image_tag( org.avatar_url, size: '50' )
              = org.description

  .col-md-4
    -#graphs
    #commitNumber