= link_to 'Back to organizations', root_path

%h1= @organization.login
%p= @organization.description

%br
%br
%br

%p
  There is #{ @organization.members.count } members

- @organization.members.each do |member|
  .member
    = image_tag( member.avatar_url, size: '50' )
    = member.login
